admin/build/*
admin/node_modules/*
public/build/*
public/node_modules/*
server/node_modules/*
build/*
node_modules/*
package.json
package-lock.json
admin/package.json
admin/package-lock.json
public/package.json
public/package-lock.json
