@import 'main';

#fixedNav{
    position:fixed;
    bottom:0px;
    left: 0px;
    width:100vw;
    height: 69px;
    background-color: #FFFFFF;
    box-shadow: 0px -3px 14px 1px rgba(0, 0, 0, 0.1);
    @include flex(row,space-around,center);
}
#buttonCircle{
  transform-origin: center;
  animation: 0.8s linear 1;
  transition-duration: 1s;
  // transition-timing-function: cubic - bezier(0.87, 1.22, 0, 0.92),
}

@keyframes circleAnimation {
  0%{
    transform: scaleX(1) scaleY(1);
  }
  40%{
    transform: scaleX(1.1) scaleY(0.9);
  }
  60%{
    transform: scaleX(1.25) scaleY(0.8);
  }
  70%{
    transform: scaleX(1.4) scaleY(0.6);
  }
  80%{
    transform: scaleX(1) scaleY(1);
  }
}