@import "main";

#news {
  #topBar {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgba(34, 63, 128, 0.4);
    @include flex(row, space-between, center);
    
    #back {
      // margin-left:30px;
      @include flex(column, center, start);
      height: 100%;
      img {
        margin-left: 10px;
        padding:2px;
        border-radius: 10px;
        transition: all 0.1s ease;
        &:hover{
          background-color: #acbadc;
          animation: click 0.3s 1 ease;
        }
      }
    }
    .pageTitle{
      @include flex(column, center, center);
      margin: 0px;
      height: 100%;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #6a6a6a;
    }
  }
  #main {
    height: 100vh;
    width:100vw;
    @include flex(column, flex-start, center);
    background: #f9f9ff;
    #rotate {
      @include flex(row, flex-start, center);
      height: 30px;
      width: 100vw;
      background: #223f80;
      overflow: hidden;
      white-space: nowrap;
      word-wrap: unset;
      #listOne{
        width: 100vw;
        animation: newsListMovement 8s linear infinite;
        @include flex(row, space-evenly, center);
        min-width: 100vw;
      }
      #listTwo{
        width: 100vw;
        animation: newsListMovement 8s linear infinite;
        @include flex(row, space-evenly, center);
        min-width: 100vw;
      }
      p {
        margin:0px 5px;
        color: #fff;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
      }
    }
    #content {
      padding: 50px 0px;
      display: flex;
      flex-direction: row;
      overflow: scroll hidden;
      width: 100vw;
      scroll-behavior: smooth;
      transition-timing-function: cubic-bezier(0.64, 0.6, 0, 0.51);
      transition-duration: 0.2s;
      .newsSheet {
        // border: 1px solid black;
        width: 100vw;
        margin: 0px 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .news {
          padding: 0px 15px;
          @include flex(row, flex-start, flex-start);
          margin-bottom: 20px;
          width: 95vw;
          img {
            height: 18px;
            margin-top: 3px;
            margin-right: 16px;
          }
          p {
            margin:5px 20px 0px 0px;
            color: #2c2c2c;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
    #fixed {
      z-index: 1;
      width: 100%;
      height:80px;
      position: fixed;
      bottom: 0;
      background: #f9f9ff;
      @include flex(row, center, center);
      div {
        margin: 4px;
        border-radius: 100%;
        width: 13px;
        height: 13px;
        background: rgba(34, 63, 128, 0.4);
      }
      .clicked {
        background: #223f80;
      }
    }
    #assetsContent {
      overflow: scroll hidden;
      width: 100vw;
      padding: 20px 10px;
      overflow: hidden scroll;
      width: calc(103vw - 20px);
      height: calc(100vh - 120px);
      scroll-behavior: smooth;
      transition-timing-function: cubic-bezier(0.64, 0.6, 0, 0.51);
      transition-duration: 0.2s;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      border-radius: 10px;
      .news {
        padding: 0px 15px;
        @include flex(row, flex-start, flex-start);
        margin-bottom: 20px;
        width: 95vw;
        img {
          height: 18px;
          margin-top: 3px;
          margin-right: 16px;
        }
        p {
          margin:5px 20px 0px 0px;
          color: #2c2c2c;
          font-family: Montserrat;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

    }
  }
}

@keyframes newsListMovement {
  0%{
    transform: translateX(0vw);
  }
  100%{
    transform: translateX(-100vw);
  }
}
