@import 'main';

#notification{
    #topBar{
        margin-right: 0px;
        height: 50px;
        border-bottom: 2px solid rgba(34, 63, 128, 0.4);
        width: 100vw;
        @include flex(row,space-between,center);
        div{
            width: 33.33%;
            img{
                margin-left:10px;
            }
        }
        p{
            @include flex(column,center,center);
            margin:0px;
            height: 100%;
            width: 33.33%;
            text-align: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: #595959;
        }
        #timer{
            height: 100%;            
            @include flex(row,center,center);
            p{
                margin:5px 0px 0px 5px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                color: #FF473F;

            }
        }
    }
    #main{
        overflow:hidden;
        overflow-y: scroll;
        height: calc(100vh - 121px);
        @include flex(column,flex-start,center);
        .notif{
            width: 100%;
            background: rgba(34, 63, 128, 0.7);
            mix-blend-mode: normal;
            border-bottom: 2px solid #FFFFFF;
            padding-left:50px;
            @include flex(row,flex-start,center);
            p{
                margin: 40px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                color: #FFFFFF;
            }
            .text-thin{
                font-weight: 400;
            }
        }

        .notif-extend{
            background: rgba(34, 63, 128, 0.1);
            mix-blend-mode: normal;
            border-bottom: 2px solid rgba(34, 63, 128, 0.5);
            p{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #223F80;
            } 
        }
        .coin-notif{
            p{
                margin: 30px;
            }
        }
        #fixedNav{
            position:fixed;
            bottom:0px;
            width:100vw;
            height: 69px;
            background: #FFFFFF;
            box-shadow: 0px -3px 14px 1px rgba(0, 0, 0, 0.1);
            @include flex(row,space-around,center);
        }
    }

}
