@import 'main';

#profile{
    #topBar{
        height: 50px;
        border-bottom: 2px solid rgba(34, 63, 128, 0.4);
        @include flex(row,space-between,center);
        div{
            width: 33.33%;
            img{
                margin-left:10px;
            }
        }
        .pageTitle{
            @include flex(column,center,center);
            margin:0px;
            height: 100%;
            width: 33.33%;
            text-align: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: #595959;
        }
    }
    #main{
        overflow-y: scroll;
        @include flex(column,center,center);
        #circle{
            position:relative;
            @include flex(column,center,center);
            margin-top:30px;
            width: 165px;
            height: 165px;
            border-radius: 100%;
            border: 10px solid rgba(34, 63, 128, 0.4);
            p{
                margin:0px;
            }
            #title{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                color: #223F80;
            }
            #yearNum{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 49px;
                background: linear-gradient(90deg, #223F80 2.98%, #444584 26.65%, #A43936 101.79%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
        .badgeRow{
            margin-top:5px;
            @include flex(row,space-evenly,center);
            img{
              animation: starRotate 60s linear infinite;
                margin:2px 10px;
            }
            // .starPresent{
            //   animation: starFall 1s cubic-bezier(0, 0, 0.2, 1) 1;
            // }
        }
        #card{
            width: 125px;
            height: 177px;
            margin:15px 0px;
            background: #D9D9D9;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 11px;
            position:relative;
            transform: all 0.2s ease;
            #empty{
                border-radius: inherit;
                position:absolute;
                bottom:0;
                width: 100%;
                box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2) inset;
                height: calc(23% * 4); // height before last year (23% * 6)
                background: linear-gradient(to bottom, #4d2555ec, #922b4aee);
                animation: wave 4s ease-in-out infinite;
            }
            #reward{
                border-radius: 11px;
                height:100%;
                width:100%;
                position:relative;
                @include flex(column,center,center);
                display:none;
                #mainImg{
                  width:100%;
                  height:100%;
                }
                #cash{
                    position:absolute;
                    top:30%;
                    right:-10%;
                }
                #share{
                    position:absolute;
                    bottom:20px;
                    border-radius: 5px;
                    border: 1px solid #474311;
                    background: #F8F8F8;
                    width: 78px;
                    height: 32px;
                    flex-shrink: 0;
                    @include flex(row,space-around,center);
                    p{
                        color: #4D4D4D;
                        font-family: Inter;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
                    transition: all 0.2s ease-out;
                    &:hover{
                        transform: scale(0.90);
                    }
                }
            }
        }
        #desc{
            margin-top:0px;
            z-index: -2;
            width: 164px;
            height: 30px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            text-align: center;
            color: #6A6A6A;

        }
        #options{
            margin-bottom:100px;
            padding:5px 30px;
            width: 300px;
            height: 77px;
            background: #223F80;
            border-radius: 5px;
            @include flex(row,space-between,center);
            .option{
                height:60px;
                width:40px;
                margin:0px;
                position:relative;
                @include flex(column,center,center);
                .animate{
                    height:50px;
                    margin:0px;
                    position:absolute;
                    top:0px;
                    z-index: -1;
                    transition: all 0.3s 0.1s ease;

                }
                &:hover .animate{
                    animation: bounce 0.5s ease-in-out;
                    transform:translate(0px,-50px); 
                }
                img{
                    margin-top:5px;
                }
                p{
                    margin:0px;
                    margin-top:10px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    color: #FFFFFF;

                }
            }
            #team{
                img{
                    margin-top:0px;
                }
                p{
                    margin-top:2px;
                }
                
            }
        }
        #fixedNav{
            position:fixed;
            bottom:0px;
            width:100vw;
            height: 69px;
            background: #FFFFFF;
            box-shadow: 0px -3px 14px 1px rgba(0, 0, 0, 0.1);
            @include flex(row,space-around,center);
        }
        hr{
            width: 55px;
            height: 0px;
            border-radius:12px;
            border: 2px solid #FFFFFF;
            transform: rotate(90deg);
        }
    }

}


@keyframes bounce {
    
    0%{
        transform:translate(0px,-40px);
    }
    50%{
        transform:translate(0px,-60px);
    }
    100%{
        transform:translate(0px,-50px);
    }
}
@keyframes starRotate {
    
  0%{
      transform:rotateZ(0deg);
  }
  100%{
      transform:rotateZ(360deg);
  }
}
@keyframes starFall {
  0%{
    transform:scale(0);
}
100%{
  transform:scale(1);
}
}
@keyframes wave {

    0%{
        clip-path: polygon(100% 100%, 0% 100% , 0.00% 56.67%, 5.00% 56.58%, 10.00% 56.34%, 15.00% 55.94%, 20.00% 55.39%, 25.00% 54.71%, 30.00% 53.92%, 35.00% 53.03%, 40.00% 52.06%, 45.00% 51.04%, 50.00% 50.00%, 55.00% 48.96%, 60.00% 47.94%, 65.00% 46.97%, 70.00% 46.08%, 75.00% 45.29%, 80.00% 44.61%, 85.00% 44.06%, 90.00% 43.66%, 95.00% 43.42%, 100.00% 43.33%);
    }
    50% {
        clip-path: polygon(100% 100%, 0% 100% , 0.00% 43.33%, 5.00% 43.42%, 10.00% 43.66%, 15.00% 44.06%, 20.00% 44.61%, 25.00% 45.29%, 30.00% 46.08%, 35.00% 46.97%, 40.00% 47.94%, 45.00% 48.96%, 50.00% 50.00%, 55.00% 51.04%, 60.00% 52.06%, 65.00% 53.03%, 70.00% 53.92%, 75.00% 54.71%, 80.00% 55.39%, 85.00% 55.94%, 90.00% 56.34%, 95.00% 56.58%, 100.00% 56.67%);
    }
    100% {
        clip-path: polygon(100% 100%, 0% 100% , 0.00% 56.67%, 5.00% 56.58%, 10.00% 56.34%, 15.00% 55.94%, 20.00% 55.39%, 25.00% 54.71%, 30.00% 53.92%, 35.00% 53.03%, 40.00% 52.06%, 45.00% 51.04%, 50.00% 50.00%, 55.00% 48.96%, 60.00% 47.94%, 65.00% 46.97%, 70.00% 46.08%, 75.00% 45.29%, 80.00% 44.61%, 85.00% 44.06%, 90.00% 43.66%, 95.00% 43.42%, 100.00% 43.33%);
    }
    
}
