@import 'main';



#login{
    @include flex(column,flex-start,center);
    width:390px;
    height:844px;
    #portion1{
        width:100%;
        margin-top:100px;
        @include flex(row,space-between,center);
        #description{
            margin:50px 10px 50px 50px;
            @include flex(column,center,flex-start);
            p{
                width:100%;
                margin:0px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 35px;
                line-height: 43px;
                color: #363636;
            }
        }

        img{
            margin-right:100px;
        }
    }
}