@import "main";

#team {
  #topBar {
    margin-bottom: 20px;
    height: 50px;
    border-bottom: 2px solid rgba(34, 63, 128, 0.4);
    @include flex(row, space-between, center);
    div{
      @include flex(column,center,start);
      height: 100%;
      width: 33.33%;
      img {
        margin-left: 10px;
      }
    }
    p:first-child {
      @include flex(column,center,center);
      margin:0px;
      height: 100%;
      width: 33.33%;
      text-align: center;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #6a6a6a;
    }
  }
  #main {
    @include flex(column, flex-start, center);
    height: 800px;
    overflow-y: scroll;
    #fixed {
      padding: 5px 20px;
      @include flex(row, space-between, center);
      position: absolute;
      bottom: 30px;
      width: 185px;
      height: 44px;
      background: #223f80;
      border-radius: 10px;
    //   transition: all .4s ease-out;
      &:focus{
        animation: click 0.3s ease;
      }
      p {
        margin-right: 10px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #ffffff;
      }
    }
    .row {
      width: 390px;
      @include flex(row, space-between, center);
      #portion1 {
        @include flex(row, space-around, center);
        img {
          margin: 20px;
          margin-left: 30px;
        }
        #info {
          p {
            padding: 0px;
            margin: 5px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            color: #2d2d2d;
          }
          .num {
            color: #6a6a6a;
            font-size: 14px;
          }
        }
      }
      #portion2 {
        padding-right: 40px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        color: #2d2d2d;
      }
    }
  }
}

#QRCompPage {
  display: none;
  z-index: 1;
  @include flex(column, center, center);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  #QRComp {
    background-color: #223f80;
    border-radius: 10px;
    padding: 20px;
    canvas {
      padding: 10px;
      border: 10px solid white;
      border-radius: 10px;
      background-color: #ffffff;
    }
    h2 {
      margin: 10px 0px 0px 0px; 
      color: #ffffff;
      text-align: center;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
    }
  }
}


@keyframes click {
	from {
		transform: scale(0.9);
	}
	to {
		transform: translateY(1);
	}
}