@import "main";
#timer {
  @include flex(row, flex-end, center);
  img{
    transform-style: preserve-3d;
    animation: clockShake 2s cubic-bezier(0, 2.4, 0.65, 0.9) infinite;
  }
}
#timerText{
    margin: 5px 8px 0px 3px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #ff473f;
  }

  @keyframes clockShake {
    0%{
      transform: rotateZ(0deg);
    }
    25%{
      transform: rotateZ(20deg);
    }
    50%{
      transform: rotateZ(0deg);
    }
    75%{
      transform: rotateZ(-20deg);
    }
    100%{
      transform: rotateZ(0deg);
    }
  }