@import "main";

#home {
  overflow: hidden;
  @include flex(row, flex-start, flex-start);
  #sideBar {
    padding-top: 30px;
    position: relative;
    @include flex(column, flex-start, center);
    margin: 20px 20px;
    width: 307px;
    height: 94%;
    background: rgba(34, 63, 128, 0.2);
    border-radius: 35px;
    #options {
      margin-top: 60px;

      .button {
        margin: 20px;
        width: 235px;
        height: 44px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        border-radius: 12px;
        color: #223f80;
        @include flex(row, flex-center, center);
        position: relative;
        overflow: hidden;
        z-index: 0;
        transition: all 0.3s ease;
        &:hover {
          transform: scale(1.1);
        }
        //         &::before{
        //           z-index: -1;
        //           content: "";
        //           position: absolute;
        //           top: 0;
        //           left: 0;
        //           width: 5px;
        //           height: 45px;
        //           background: #ffffff;
        //           transform: translate(-30px, 0) skew(-35deg);
        //           transition: 0.5s;
        //         }
        //         &:hover:after{
        // border:2px solid red;
        //         }
        //         &:hover:before{
        //           transform: translate(240px, 0) skew(-20deg);
        //         }
        img {
          margin: 10px;
          // circle{stroke:#223F80;}
        }
        p {
          margin-left: 55px;
        }
        // &:hover{
        //     // color: #FFFFFF;
        //     // background: #223F80;
        //     svg{
        //         circle{
        //             stroke:white;
        //         }
        //         #p1,#p2,#p5{
        //             stroke:white;
        //         }
        //         #p3,#p4 {
        //             fill:white;
        //         }
        //     }
        // }
      }
      .buttonActive {
        &::before {
          background-color: rgb(128, 128, 128);
        }
      }
    }
    #tree {
      position: absolute;
      bottom: -3px;
    }
  }
  #main {
    width: calc(100% - 310px);
    #editMain {
      @include flex(column, flex-start, center);
      width: 100%;
      height: 100vh;
      #topNav {
        margin-top: 150px;
        width: 70%;
        height: 55px;
        background: rgba(132, 132, 132, 0.2);
        border-radius: 8px;
        @include flex(row, space-around, center);
        button {
          width: 50%;
          height: 55px;
          border-radius: 8px;
          font-family: "Montserrat";
          color: #223f80;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          transition: all 0.2s ease-in-out;
          // &:focus{
          //     color:white;
          //     background: #223f80bf;
          // }
        }
      }
      #assets {
        // display:none;
        padding: 10px 35px;
        margin-top: 60px;
        width: 70%;
        max-height: calc(100% - 300px);
        background: rgba(34, 63, 128, 0.1);
        border-radius: 34px;
        #addInfoPrompt {
          background: rgba(0, 0, 0, 0.85);
          backdrop-filter: blur(1.5px);
          width: 100vw;
          height: 100vh;
          position: absolute;
          top: 0px;
          left: 0px;
          @include flex(row, center, center);
          #closeButton {
            background-color: gray;
          }
          #InfoBox {
            position: relative;
            padding: 10px;
            border-radius: 10px;
            border: 2px solid beige;
            width: 70%;
            min-width: 50vw;
            background-color: whitesmoke;
            #first {
              margin: 0px;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              background-color: #395695;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              color: white;
              @include flex(row, space-between, center);
              button {
                margin: 10px;
                background-color: #ff473f;
                @include flex(column, center, center);
                padding: 5px;
                border-radius: 4px;
                img {
                  height: 20px;
                }
                transition: transform 0.5s ease;
                &:hover {
                  transform: scale(0.9);
                }
                &:focus {
                  animation: gamechange 0.2s 1 ease-out;
                }
              }
            }
            #second {
              margin-top: 50px;
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
            }
            #third {
              width: 100%;
              #textarea {
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                padding: 10px;
                width: 99%;
                min-height: 70vh;
                resize: none;
                .assetTitle {
                  color: red;
                }
                &:focus {
                  outline: none;
                }
              }
            }
          }
        }

        #top {
          @include flex(row, space-around, center);
          button {
            padding: 10px;
            width: 33.333%;
            border-bottom: 5px solid #8492b3;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            color: #223f80;
            &:focus {
              border-bottom: 5px solid #223f80;
            }
          }
        }
        #editMainSection {
          height: 70%;
          padding: 30px 20px;
          overflow-y: scroll;
          div {
            @include flex(row, flex-start, center);
            p {
              margin: 8px 5px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              color: #626262;
            }
            input {
              border: none;
              background: transparent;
              margin: 8px 15px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              color: #223f80;
              &:-webkit-autofill,
              &:-webkit-autofill:hover,
              &:-webkit-autofill:focus,
              &:-webkit-autofill:active {
                -webkit-background-clip: text !important;
              }
              &:focus {
                // border: 2px solid black;
                outline: inset;
                background-color: rgba(255, 255, 255, 0.6);
                border-radius: 5px;
              }
            }
          }
        }
      }
      #news {
        // display: none;
        padding: 10px 35px;
        margin-top: 60px;
        max-width: 1500px;
        // width: 60%;
        height: 100%;
        overflow-y: scroll;
        .newsComp {
          margin-bottom: 30px;
          @include flex(row, space-between, center);
          background: rgba(34, 63, 128, 0.1);
          border-radius: 34px;
          input[type="file"] {
            width: 110%;
            position: relative;
            // left: -10%;
            top: -110%;
            /* display: inline-block; */
            height: 110%;
            // visibility: hidden;
            opacity: 0;
            z-index: 1;
          }
          input[type="text"] {
            border: none;
            outline: none;
            background-color: transparent;
            margin-left: 3px;
            margin-top: 3px;
            text-align: center;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            color: #223f80;
            width: 50px;
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
              -webkit-background-clip: text !important;
            }
            //   display:none;
          }
          #first {
            margin: 10px;
            @include flex(column, center, center);
            p {
              margin: 3px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              color: #3f3f3f;
            }
            #year {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 40px;
              color: #454545;
            }
            div {
              margin-top: 10px;
              @include flex(row, center, center);
              p {
                margin-left: 3px;
                margin-top: 3px;
                text-align: center;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                color: #223f80;
              }
            }
          }
          .newsUpdate {
            margin: 10px;
            @include flex(column, center, center);
            p {
              margin: 0px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              color: #3f3f3f;
              s {
                text-decoration: line-through;
                text-decoration-color: #ff000052;
                text-decoration-thickness: 2px;
                color: #8080809e;
              }
            }
            div {
              margin-top: 10px;
              @include flex(row, center, center);
              p {
                margin-left: 3px;
                margin-top: 3px;
                text-align: center;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                color: #223f80;
              }
            }
            button {
              width: 110px;
              height: 40px;
              background: #223f80;
              border-radius: 7px;

              div {
                height: 100%;
                width: 100%;
                @include flex(row, center, center);
                p {
                  margin-left: 10px;
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 15px;
                  color: #ffffff;
                }
              }
            }
          }
        }
      }
    }

    #sessionMain {
      width: 100%;
      height: 100vh;
      @include flex(column, flex-start, center);
      #sessionsViewer {
        #deletePrompt {
          z-index: 2;
          position: fixed;
          top: 0;
          left: 0;
          @include flex(column, center, center);
          height: 100vh;
          width: 100vw;
          background: rgba(0, 0, 0, 0.85);
          backdrop-filter: blur(1.5px);
          #deleteBox {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            width: 456px;
            background-color: white;
            border-radius: 20px;
            @include flex(column, center, center);
            #first {
              border-radius: 20px 20px 0px 00px;
              padding: 10px;
              width: calc(100% - 20px);
              background-color: #395695;
              @include flex(row, space-between, center);
              p {
                font-family: "Montserrat";
                font-size: 16px;
                font-weight: 600;
                color: white;
                margin: 0px;
                margin-left: 18px;
              }
              #closeButton {
                margin: 0px;
                width: fit-content;
                img {
                  height: 25px;
                  transition: all 0.2s ease-in;
                }

                &:hover img {
                  transform: scale(0.8);
                }
              }
            }
            hr {
              margin: 0px;
              width: calc(100% - 2px);
            }
            #second {
              padding: 20px 30px;
              @include flex(column, center, center);
              #deleteIcon {
                height: 40px;
              }
              p {
                text-align: center;
                font-family: "Montserrat";
                font-size: 14px;
                font-weight: 500;
                color: #395695;
                margin: 10px;
              }
            }
            #third {
              @include flex(column, center, center);
              margin-top: 10px;
              width: 100%;
              p {
                margin: 5px 0px;
                text-align: center;
                font-family: "Montserrat";
                font-size: 14px;
                font-weight: 500;
                color: #395695;
              }
              input {
                padding-left: 20px;
                margin: 5px;
                border-radius: 5px;
                border: 2px solid #3956959c;
                width: 80%;
                height: 30px;
                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus,
                &:-webkit-autofill:active {
                  -webkit-background-clip: text !important;
                }
                &:focus {
                  outline: none;
                }
              }
              #deleteButton {
                position: relative;
                overflow: hidden;
                border-radius: 8px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                color: #a50c0c;
                z-index: 0;
                width: 85%;
                height: 40px;
                border-radius: 5px;
                padding: 5px;
                margin: 10px;
                background-color: rgb(197, 31, 31);
                border: 1px solid #223f80;
                margin-bottom: 20px;
                transition: all 0.3s ease;
                p {
                  font-family: "Montserrat";
                  font-size: 16px;
                  font-weight: 500;
                  color: white;
                  margin: 0px;
                  margin-left: 20px;
                  transition: all 0.3s ease;
                }
                &::before {
                  z-index: -1;
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 110%;
                  height: 40px;
                  background: #ffffff;
                  transform: translate(-110%, 0) skew(-30deg);
                  transition: 0.8s;
                }
                &:hover::before {
                  transform: translate(-5%, 0) skew(-15deg);
                }
                &:hover p {
                  color: rgb(197, 31, 31);
                }
              }
            }
          }
        }
        #sessionList {
          width: 80%;
          height: calc(100vh - 250px);
          overflow-y: auto;
          @include flex(column, flex-start, center);
        }
        margin-top: 150px;
        @include flex(column, center, center);
        // display:none;
        // padding: 40px;
        width: 100%;
        button {
          margin-top: 15px;
          width: 80%;
          max-width: 1500px;
        }
        #emptySessionDiv {
          @include flex(column, center, center);
          p {
            margin: 0px;
          }
          transform: translateY(100px);
          #emptySession2 {
            margin-top: 10px;
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 400;
            color: #4f4f4fb8;
          }
        }
        .sessionCards {
          transition: transform 0.3s ease-out;
          &:hover {
            transform: scale(1.03);
          }
          padding: 25px;
          padding-right: 10px;
          height: 84px;
          background: #ffffff;
          border: 2px solid #d4d4d4;
          border-radius: 13px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 68%;
          #nameDiv {
            display: flex;
            flex-direction: row;
            align-items: center;
            #name {
              margin: 10px 20px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              color: #414141;
            }
          }
          #infoDiv {
            @include flex(row, space-between, center);
            width: fit-content;
            div {
              @include flex(column, center, center);
              margin-right: 10px;
              p {
                margin: 0px;
              }
            }
            #excel,
            #trash {
              width: fit-content;
              @include flex(column, center, center);
              img {
                height: 30px;
                // margin-left:30px;
              }
            }
            #trash {
              img {
                &:hover {
                  animation: shake 0.5s ease-in-out 2;
                }
              }
            }
            #groupLabel,
            #playerLabel {
              margin: 10px;
              margin-top: 0px;
              margin-bottom: 0px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              color: #8a8a8a;
            }
            #groupInfo,
            #playerInfo {
              margin-top: 7px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              color: #414141;
            }
          }
        }
        #top {
          width: 100%;
          @include flex(row, center, center);
          margin-bottom: 20px;
          #searchDiv {
            width: 50%;
            border: 2.5px solid #acacac;
            border-radius: 8px;
            height: 44px;
            padding: 0px 5px;

            @include flex(row, space-between, center);
            input {
              border: none;
              width: 100%;
              margin-left: 10px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              &:-webkit-autofill,
              &:-webkit-autofill:hover,
              &:-webkit-autofill:focus,
              &:-webkit-autofill:active {
                -webkit-background-clip: text !important;
              }
              &:focus {
                border: none;
                outline: none;
              }
            }
          }
          #create {
            &:focus {
              animation: click 0.3s ease;
            }
            padding: 0px;
            width: 140px;
            margin-left: 20px;
            margin-top: 0px;
            height: 44px;
            background: #223f80;
            border-radius: 8px;
            @include flex(row, flex-end, center);
            #add {
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
              @include flex(column, center, center);
              height: 100%;
              background: #294f9f;
            }
            p {
              padding: 5px;
              text-align: center;
              font-size: 18px;
              margin: 0px;
              margin-right: 10px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              color: #ffffff;
            }
          }
        }
      }

      #createSessionPage {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.85);
        @include flex(column, center, center);
        #createSessionMenu {
          transform: translateY(-100px);
          position: relative;
          width: 410px;
          height: 250px;
          div {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            color: #ffffff;
            @include flex(row, space-between, center);
            #close {
              top: 0px;
              right: 0px;
              border-radius: 100%;
              @include flex(column, center, center);
              padding: 5px;
              transition: all 0.2s ease;
              img {
                height: 30px;
              }
              &:focus {
                background-color: white;
                animation: gamechange 0.2s 1 ease;
              }
            }
          }
          input {
            width: 406px;
            height: 49px;
            background: #15151545;
            border: 2px solid #8c8c8c;
            border-radius: 8px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            padding-left: 14px;
            color: #8c8c8c;
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
              -webkit-background-clip: text !important;
            }
            &:focus {
              outline: none;
            }
          }
          #save {
            overflow: hidden;
            position: absolute;
            width: 131px;
            height: 49px;
            bottom: 0px;
            left: 0px;
            // background: #ffffff;
            border-radius: 8px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #223f80;
            border: 3px solid #223f80;
            transition: all 1s ease;
            &::before {
              z-index: -1;
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 130%;
              height: 55px;
              color: rgb(255, 255, 255);
              background: #223f80;
              transform: translate(-110%, 0) skew(-30deg);
              transition: 1s;
            }
            &:hover::before {
              transform: translate(-5%, 0) skew(-15deg);
            }
            &:hover {
              color: white;
            }
            &:focus {
              animation: click 0.3s 1 ease;
            }
          }
          #buttonBg {
            position: absolute;
            width: 130px;
            height: 48px;
            bottom: 0px;
            left: 0px;
            border-radius: 8px;
            background: white;
            z-index: -2;
          }
        }
      }

      #createGroupPage {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0px;
        z-index: 2;
        left: 0px;
        background: rgba(0, 0, 0, 0.85);
        @include flex(column, center, center);
        #createGroupMenu {
          position: relative;
          transform: translateY(-100px);
          width: 427px;
          height: 321px;
          div {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            color: #ffffff;
            @include flex(row, space-between, center);
            #close {
              top: 0px;
              right: 0px;
              border-radius: 100%;
              @include flex(column, center, center);
              padding: 5px;
              transition: all 0.2s ease;
              img {
                height: 30px;
              }
              &:focus {
                background-color: white;
                animation: gamechange 0.2s 1 ease;
              }
            }
          }
          input {
            margin-top: 30px;
            width: 406px;
            height: 49px;
            background: #15151556;
            border: 2px solid #8c8c8c;
            border-radius: 8px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            padding-left: 14px;
            color: #8c8c8c;
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
              -webkit-background-clip: text !important;
            }
            &:focus {
              outline: none;
            }
          }
          #groupLimit {
            margin-top: 30px;
            float: right;
            @include flex(row, center, center);
            p {
              margin: 10px 20px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              color: #8c8c8c;
            }
            select {
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              padding: 10px;
              text-align: center;
              height: 49px;
              background: #15151556;
              border: 2px solid #8c8c8c;
              border-radius: 8px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              color: #8c8c8c;
              &:focus {
                outline: none;
              }
            }
          }
          #save {
            overflow: hidden;
            position: absolute;
            width: 131px;
            height: 49px;
            bottom: 0px;
            left: 0px;
            // background: #ffffff;
            border-radius: 8px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #223f80;
            border: 3px solid #223f80;
            transition: all 1s ease;
            &::before {
              z-index: -1;
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 130%;
              height: 55px;
              color: rgb(255, 255, 255);
              background: #223f80;
              transform: translate(-110%, 0) skew(-30deg);
              transition: 1s;
            }
            &:hover::before {
              transform: translate(-5%, 0) skew(-15deg);
            }
            &:hover {
              color: white;
            }
            &:focus {
              animation: click 0.3s 1 ease;
            }
          }
          #buttonBg {
            position: absolute;
            width: 130px;
            height: 48px;
            bottom: 0px;
            left: 0px;
            border-radius: 8px;
            background: white;
            z-index: -2;
          }
        }
      }
      #playersPage {
        margin-top: 100px;
        @include flex(column, flex-start, center);
        padding: 40px;
        padding-top: 10px;
        width: calc(100% - 400px);
        height: 100vh;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
        background-color: white;
        overflow: hidden scroll;
        #topBar {
          width: 90%;
          @include flex(column, center, center);
          #top {
            width: 100%;
            @include flex(row, space-between, center);
            margin-bottom: 10px;
            #back {
              margin-right: 10px;
              border-radius: 10px;
              transition: all 0.1s ease;
              &:hover {
                background-color: #d3d8e6;
                animation: click 0.3s 1 ease;
              }
            }
            #topLabel {
              width: 100%;
              height: 44px;
              @include flex(row, space-between, center);
              div {
                .groupLinkButton {
                  border-radius: 50%;
                  width: 50px;
                  height: 50px;
                  @include flex(row, space-around, center);
                  background-color: white;
                  transition: 0.5s ease;
                }
                .groupLinkButtonActive {
                  background-color: #d4d4d456;
                }
                #trash {
                  margin-right: 60px;
                  img {
                    &:hover {
                      animation: shake 0.5s ease-in-out 2;
                    }
                  }
                }
                @include flex(row, space-between, center);
                #groupNameInput {
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 600;
                  font-size: 30px;
                  line-height: 37px;
                  text-align: left;
                  color: #223f80;
                  border: none;
                }
                #players {
                  margin-left: 100px;
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 20px;
                  color: rgba(34, 63, 128, 0.4);
                  #playerCount {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    color: #3f3f3f;
                  }
                }
              }
            }
          }
          hr {
            width: calc(100% - 62px);
            margin: 0px;
            margin-left: 54px;
            border: 2px solid rgba(34, 63, 128, 0.4);
          }
        }
        #playersList {
          #emptyPlayersPg{
            transform: translateY(-50px);
            height:calc(100vh - 500px);
            @include flex(column,center,center);

            .hourglass,
            .hourglass:before,
            .hourglass:after {
              animation-duration: 5s;
              animation-iteration-count: infinite;
            }

            .hourglass {
              --polygonH: polygon(
                0% 0%,
                100% 0%,
                100% 5.55%,
                95% 5.55%,
                95% 28%,
                60% 46%,
                60% 54%,
                95% 72%,
                95% 94.45%,
                100% 94.45%,
                100% 100%,
                0% 100%,
                0% 94.45%,
                5% 94.45%,
                5% 72%,
                40% 54%,
                40% 46%,
                5% 28%,
                5% 5.55%,
                0% 5.55%
              );
              animation-name: flip;
              animation-timing-function: ease-in-out;
              background-image: linear-gradient(
                #ffc300 2.666px,
                #737a8c55 2.666px 45.2px,
                #ffc300 45.2px
              );
              clip-path: var(--polygonH);
              -webkit-clip-path: var(--polygonH);
              overflow: hidden;
              position: relative;
              width: 26.666px;
              height: 48px;
              z-index: 0;
            }
            .hourglass:before,
            .hourglass:after {
              animation-timing-function: linear;
              content: "";
              display: block;
              position: absolute;
            }
            .hourglass:before {
              --polygonB1: polygon(
                0% 0%,
                100% 0%,
                100% 24%,
                50% 47%,
                50% 47%,
                50% 47%,
                50% 47%,
                50% 47%,
                50% 47%,
                50% 47%,
                50% 47%,
                0% 24%
              );
              --polygonB2: polygon(
                0% 4%,
                100% 4%,
                100% 24%,
                55% 45%,
                55% 100%,
                55% 100%,
                55% 100%,
                45% 100%,
                45% 100%,
                45% 100%,
                45% 45%,
                0% 24%
              );
              --polygonB3: polygon(
                0% 24%,
                100% 24%,
                100% 24%,
                55% 45%,
                55% 80%,
                100% 100%,
                100% 100%,
                0% 100%,
                0% 100%,
                45% 80%,
                45% 45%,
                0% 24%
              );
              --polygonB4: polygon(
                45% 45%,
                55% 45%,
                55% 45%,
                55% 45%,
                55% 58%,
                100% 76%,
                100% 100%,
                0% 100%,
                0% 76%,
                45% 58%,
                45% 45%,
                45% 45%
              );
              --polygonB5: polygon(
                50% 53%,
                50% 53%,
                50% 53%,
                50% 53%,
                50% 53%,
                100% 76%,
                100% 100%,
                0% 100%,
                0% 76%,
                50% 53%,
                50% 53%,
                50% 53%
              );
              animation: fill 5s infinite;
              background-color: #2e3138;
              background-size: 100% 19.2px;
              clip-path: var(--polygonB1);
              -webkit-clip-path: var(--polygonB1);
              top: 2.666px;
              left: 2.6666px;
              width: 21.322px;
              height: 42.666px;
              z-index: 1;
            }
            .hourglass:after {
              animation-name: glare;
              background: linear-gradient(
                    90deg,
                    #0000 2.666px,
                    #0003 2.666px 8px,
                    #0000 8px 18.666px,
                    #fff3 18.666px 24px,
                    #fff0 24px 34.666px,
                    #0003 34.666px 40px,
                    #0000 40px
                  )
                  0 0 / 100% 5.2px,
                linear-gradient(
                    90deg,
                    #0000 4px,
                    #0003 4px 6.666px,
                    #0000 6.666px 20px,
                    #fff3 20px 22.666px,
                    #fff0 22.666px 36px,
                    #0003 36px 38.666px,
                    #0000 38.666px
                  )
                  0.266px / 100% 42.666px,
                linear-gradient(
                    90deg,
                    #0000 5.222px,
                    #0003 5.2px 8px,
                    #0000 8px 18.666px,
                    #fff3 18.666px 24px,
                    #fff0 24px 34.666px,
                    #0003 34.666px 40px,
                    #0000 40px
                  )
                  0 100% / 100% 5.22px;
              background-repeat: repeat-x;
              top: 0;
              left: -16px;
              width: 200%;
              height: 100%;
              z-index: 2;
            }
            p {
              font-family: "Montserrat";
              font-size: 18px;
              font-weight: 500;
              color: #424242;
            }
          }
          #deletePrompt {
            z-index: 2;
            position: fixed;
            top: 0;
            left: 0;
            @include flex(column, center, center);
            height: 100vh;
            width: 100vw;
            background: rgba(0, 0, 0, 0.85);
            backdrop-filter: blur(1.5px);
            #deleteBox {
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
              width: 456px;
              background-color: white;
              border-radius: 20px;
              @include flex(column, center, center);
              #first {
                border-radius: 20px 20px 0px 00px;
                padding: 10px;
                width: calc(100% - 20px);
                background-color: #395695;
                @include flex(row, space-between, center);
                p {
                  font-family: "Montserrat";
                  font-size: 16px;
                  font-weight: 600;
                  color: white;
                  margin: 0px;
                  margin-left: 18px;
                }
                #closeButton {
                  margin: 0px;
                  width: fit-content;
                  img {
                    height: 25px;
                    transition: all 0.2s ease-in;
                  }

                  &:hover img {
                    transform: scale(0.8);
                  }
                }
              }
              hr {
                margin: 0px;
                width: calc(100% - 2px);
              }
              #second {
                padding: 20px 30px;
                @include flex(column, center, center);
                #deleteIcon {
                  height: 40px;
                }
                p {
                  text-align: center;
                  font-family: "Montserrat";
                  font-size: 14px;
                  font-weight: 500;
                  color: #395695;
                  margin: 10px;
                }
              }
              #third {
                @include flex(column, center, center);
                margin-top: 10px;
                width: 100%;
                p {
                  margin: 5px 0px;
                  text-align: center;
                  font-family: "Montserrat";
                  font-size: 14px;
                  font-weight: 500;
                  color: #395695;
                }
                input {
                  padding-left: 20px;
                  margin: 5px;
                  border-radius: 5px;
                  border: 2px solid #3956959c;
                  width: 80%;
                  height: 30px;
                  &:-webkit-autofill,
                  &:-webkit-autofill:hover,
                  &:-webkit-autofill:focus,
                  &:-webkit-autofill:active {
                    -webkit-background-clip: text !important;
                  }
                  &:focus {
                    outline: none;
                  }
                }
                #deleteButton {
                  position: relative;
                  overflow: hidden;
                  border-radius: 8px;
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 20px;
                  color: #a50c0c;
                  z-index: 0;
                  width: 85%;
                  height: 40px;
                  border-radius: 5px;
                  padding: 5px;
                  margin: 10px;
                  background-color: rgb(197, 31, 31);
                  border: 1px solid #223f80;
                  margin-bottom: 20px;
                  transition: all 0.3s ease;
                  p {
                    font-family: "Montserrat";
                    font-size: 16px;
                    font-weight: 500;
                    color: white;
                    margin: 0px;
                    margin-left: 20px;
                    transition: all 0.3s ease;
                  }
                  &::before {
                    z-index: -1;
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 110%;
                    height: 40px;
                    background: #ffffff;
                    transform: translate(-110%, 0) skew(-30deg);
                    transition: 0.8s;
                  }
                  &:hover::before {
                    transform: translate(-5%, 0) skew(-15deg);
                  }
                  &:hover p {
                    color: rgb(197, 31, 31);
                  }
                }
              }
            }
          }
          margin-top: 30px;
          width: 75%;
          max-width: 1150px;
          @include flex(column, center, center);
          .row {
            margin-top: 20px;
            width: 90%;
            @include flex(row, space-between, center);

            #remove {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              color: #a43936;
              border-radius: 5px;
              height: 30px;
              @include flex(row, flex-center, center);
              position: relative;
              overflow: hidden;
              z-index: 0;
              transition: 0.8s;
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 120px;
                height: 30px;
                background: #a43936;
                transform: translate(-140%, 0) skew(-45deg);
                transition: 0.8s;
                z-index: -1;
              }
              &:hover:before {
                transform: translate(0%, 0) skew(0deg);
              }
              &:hover {
                color: white;
              }
              &:focus {
                animation: click 0.3s 1;
              }
            }
            button {
              position: relative;
              @include flex(column, center, center);
              .checkbox-round {
                position: absolute;
                top: 3px;
                left: 7px;
                box-sizing: border-box;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                vertical-align: middle;
                appearance: none;
                -webkit-appearance: none;
                outline: none;
                cursor: pointer;
              }

              .checkbox-round:checked {
                background: linear-gradient(
                  39.67deg,
                  #d9d9d9 -3.78%,
                  #223f80 -3.77%,
                  #444584 46.57%,
                  #a43936 101.3%
                );
              }
            }
            p {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;

              color: #3f3f3f;
            }
            select {
              width: 180px;
              height: 35px;
              left: 892px;
              top: 240px;
              border: 1.5px solid #b0b0b0;
              border-radius: 7px;
              padding: 5px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              color: #b0b0b0;
              option:checked {
                color: #223f80;
              }
              &:focus {
                outline: none;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                color: #223f80;
              }
            }
          }
        }
      }

      #groupPage {
        #fixed-end {
          position: fixed;
          overflow: hidden;
          bottom: 40px;
          right: 80px;
          width: 202px;
          height: 44px;
          flex-shrink: 0;
          border-radius: 8px;
          border: 1.5px solid #a50c0c;
          color: #a50c0c;
          text-align: center;
          font-family: Montserrat;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          transition: all 0.8s ease;
          &::before {
            z-index: -1;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 130%;
            height: 55px;
            background: #a50c0c;
            transform: translate(-110%, 0) skew(-30deg);
            transition: 0.8s;
          }
          &:hover::before {
            transform: translate(-5%, 0) skew(-15deg);
          }
          &:hover {
            color: white;
          }
        }
        margin-top: 100px;
        @include flex(column, flex-start, center);
        // display:none;
        // padding:40px;
        width: calc(100% - 322px);
        height: 100vh;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
        background-color: white;
        overflow: hidden scroll;
        #topBar {
          width: 100%;
          @include flex(column, center, center);
          #top {
            margin-top: 10px;
            width: 100%;
            @include flex(row, center, center);
            margin-bottom: 30px;
            #back {
              margin-right: 10px;
              border-radius: 10px;
              transition: all 0.1s ease;
              &:hover {
                background-color: #d3d8e6;
                animation: click 0.3s 1 ease;
              }
            }
            #searchDiv {
              width: 70%;
              border: 2.5px solid #acacac;
              border-radius: 8px;
              height: 30px;
              padding: 5px;

              @include flex(row, space-between, center);
              input {
                border: none;
                width: 100%;
                margin-left: 10px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus,
                &:-webkit-autofill:active {
                  -webkit-background-clip: text !important;
                }
                &:focus {
                  border: none;
                  outline: none;
                }
              }
            }
            #create {
              &:focus {
                animation: click 0.3s ease;
              }
              padding: 0px;
              width: 120px;
              margin-left: 20px;
              margin-top: 0px;
              height: 44px;
              background: #223f80;
              border-radius: 8px;
              @include flex(row, flex-end, center);
              #add {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                @include flex(column, center, center);
                height: 100%;
                background: #294f9f;
              }
              p {
                padding: 5px;
                text-align: center;
                font-size: 18px;
                margin: 0px;
                margin-right: 10px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                color: #ffffff;
              }
            }
          }
          #second {
            @include flex(row, center, center);
            width: 100%;
            margin-left: 30px;
            #navBar {
              width: 66%;
              margin-left: 55px;
              background: #434343;
              border-radius: 8px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              padding: 5px;
              color: #aaaaaa;
              #portion1 {
                height: 40px;
                @include flex(row, space-around, center);
                .navComp {
                  @include flex(row, center, center);
                  img {
                    margin: 5px;
                  }
                  input {
                    border: none;
                    background: transparent;
                    color: inherit;
                    font-size: inherit;
                    width: 75px;
                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus,
                    &:-webkit-autofill:active {
                      -webkit-background-clip: text !important;
                    }
                  }
                }
              }
              #navigate {
                button {
                  border-radius: 60px;
                  margin: 10px;
                  // transition:transform .2s ease-in;
                  &:focus {
                    animation: gamechange 0.3s 1 ease-in-out;
                  }
                }
              }
            }
            #gameStatus {
              position: relative;
              overflow: hidden;
              margin-left: 25px;
              height: 44px;
              border: 2px solid #223f80;
              border-radius: 8px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              color: #223f80;
              transition: all 0.8s ease;
              &::before {
                z-index: -1;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 130%;
                height: 55px;
                background: #223f80;
                transform: translate(-110%, 0) skew(-30deg);
                transition: 0.8s;
              }
              &:hover::before {
                transform: translate(-5%, 0) skew(-15deg);
              }
              &:hover {
                color: white;
              }
              &:focus {
                animation: click 0.3s 1 ease;
              }
            }
          }
        }
        #groupsList {
          #emptyGroupDiv {
            width: 100vw;
            height: 100%;
            @include flex(column, center, center);
            transform: translateY(50px);
            p {
              margin: 0px;
            }
            #emptyGroup2 {
              margin-top: 10px;
              font-family: "Montserrat";
              font-size: 16px;
              font-weight: 400;
              color: #4f4f4fb8;
            }
          }
          overflow-y: scroll;
          padding: 50px;
          margin-top: 30px;
          padding-top: 0px;
          min-width: 70%;
          height: fit-content;
          // margin: 30px 20px;
          .card {
            .groupLinkButton {
              border-radius: 50%;
              width: 50px;
              height: 50px;
              @include flex(row, space-around, center);
              background-color: white;
              transition: 0.5s;
            }
            .groupLinkButtonActive {
              background-color: #d4d4d456;
            }
            transition: transform 0.3s ease-in-out;
            &:hover {
              transform: scale(1.1);
            }
            width: 200px;
            height: 100px;
            padding: 15px;
            background: white;
            box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            position: relative;
            #groupBox {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              #groupInfo {
                margin: 0px;
                margin-left: 10px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                font-size: 23px;
                color: #3f3f3f;
              }
            }
            #playerBox {
              position: absolute;
              bottom: 0;
              left: 10;
              margin: 0px;
              @include flex(row, space-around, center);
            }
          }
        }
        #endPrompt {
          z-index: 2;
          position: fixed;
          top: 0;
          left: 0;
          @include flex(column, center, center);
          height: 100vh;
          width: 100vw;
          background: rgba(0, 0, 0, 0.85);
          backdrop-filter: blur(1.5px);
          #endBox {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            width: 456px;
            background-color: white;
            border-radius: 20px;
            @include flex(column, center, center);
            #first {
              border-radius: 20px 20px 0px 00px;
              padding: 10px;
              width: calc(100% - 20px);
              background-color: #395695;
              @include flex(row, space-between, center);
              p {
                font-family: "Montserrat";
                font-size: 16px;
                font-weight: 600;
                color: white;
                margin: 0px;
                margin-left: 18px;
              }
              #closeButton {
                margin: 0px;
                width: fit-content;
                img {
                  height: 25px;
                  transition: all 0.2s ease-in;
                }

                &:hover img {
                  transform: scale(0.8);
                }
              }
            }
            hr {
              margin: 0px;
              width: calc(100% - 2px);
            }
            #second {
              padding: 20px 30px;
              @include flex(column, center, center);
              #deleteIcon {
                height: 40px;
              }
              p {
                text-align: center;
                font-family: "Montserrat";
                font-size: 14px;
                font-weight: 500;
                color: #395695;
                margin: 10px;
              }
            }
            #third {
              @include flex(column, center, center);
              margin-top: 10px;
              width: 100%;
              p {
                margin: 5px 0px;
                text-align: center;
                font-family: "Montserrat";
                font-size: 14px;
                font-weight: 500;
                color: #395695;
              }
              input {
                padding-left: 20px;
                margin: 5px;
                border-radius: 5px;
                border: 2px solid #3956959c;
                width: 80%;
                height: 30px;
                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus,
                &:-webkit-autofill:active {
                  -webkit-background-clip: text !important;
                }
                &:focus {
                  outline: none;
                }
              }
              #endPromptButton {
                position: relative;
                overflow: hidden;
                border-radius: 8px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                color: #a50c0c;
                z-index: 0;
                width: 85%;
                height: 40px;
                border-radius: 5px;
                padding: 5px;
                margin: 10px;
                background-color: rgb(197, 31, 31);
                border: 1px solid #223f80;
                margin-bottom: 20px;
                transition: all 0.3s ease;
                p {
                  font-family: "Montserrat";
                  font-size: 16px;
                  font-weight: 500;
                  color: white;
                  margin: 0px;
                  margin-left: 20px;
                  transition: all 0.3s ease;
                }
                &::before {
                  z-index: -1;
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 110%;
                  height: 40px;
                  background: #ffffff;
                  transform: translate(-110%, 0) skew(-30deg);
                  transition: 0.8s;
                }
                &:hover::before {
                  transform: translate(-5%, 0) skew(-15deg);
                }
                &:hover p {
                  color: rgb(197, 31, 31);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1390px) {
  #groupsList {
    display: grid;
    grid-template-columns: auto auto;
  }
  .card {
    margin: 15px 40px;
  }
  #playerBox {
    margin-top: 30px;
  }
  #gameStatus {
    width: 150px;
  }
  // #create {
  //   width: 130px;
  //   div {
  //     #add {
  //       height: 20px;
  //     }
  //     padding: 5px;
  //     @include flex(row, space-around, center);
  //     p {
  //       font-size: 13px;
  //     }
  //   }
  // }
}

@media only screen and (min-width: 1390px) {
  #gameStatus {
    width: 202px;
  }
  // #create {
  //   width: 210px;
  //   div {
  //     #add {
  //       height: 36px;
  //     }
  //     padding: 5px;
  //     @include flex(row, space-around, center);
  //     p {
  //       font-size: 20px;
  //     }
  //   }
  // }
}

@media only screen and (min-width: 1390px) and (max-width: 1790px) {
  #groupsList {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .card {
    margin: 15px 50px;
  }
  #playerBox {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 1790px) {
  #excel,
  #trash {
    margin-left: 30px;
  }
  #groupsList {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .card {
    margin: 15px 40px;
  }
  #playerBox {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1620px) {
  #groupsList {
    height: calc(100% - 350px);
  }
  #navBar {
    @include flex(column, center, center);
  }
  #portion1 {
    width: 100%;
  }
}

@media only screen and (min-width: 1620px) {
  #groupsList {
    height: calc(100% - 300px);
  }
  #navBar {
    @include flex(row, space-around, center);
    height: 44px;
  }
  #portion1 {
    width: 70%;
  }
}

@keyframes shake {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-5deg);
  }
  50% {
    transform: rotateZ(5deg);
  }
  75% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

@keyframes gamechange {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
