@font-face {
  font-family: Montserrat;
  src: url(../Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../Inter/Inter-VariableFont_slntwght.ttf);
}
@media only screen and (max-width: 1500px) and (min-width: 1250px) {
  .row-1 {
    width: 100%;
  }
  .newsComp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 1500px) {
  .row-1 {
    width: 80%;
  }
  .newsComp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 1600px) {
  .row-1 {
    width: 70%;
  }
  .newsComp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (max-width: 1250px) {
  .newsComp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    height: -moz-fit-content;
    height: fit-content;
    padding: 40px 60px;
  }
}
@media only screen and (min-width: 1250px) {
  .newsComp {
    height: 196px;
    padding: 0px 60px;
  }
}
body {
  margin: 0px;
  padding-bottom: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

section {
  overflow: auto;
  height: 100vh;
  width: 100vw;
}

button {
  background-color: transparent;
  border: none;
}
button:focus {
  outline: none;
  border: none;
}

#editMainSection {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

#editMainSection::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

#news {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

#news::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

#groupsList {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

#groupsList::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.mr-2 {
  margin-right: 20px;
}

.gain {
  color: #6bc640;
}

.loss {
  color: #fb5151;
}

.final {
  margin-bottom: 40px;
}

.coin {
  height: 30px;
  width: 30px;
}

.text-thin {
  font-weight: 400;
}

input[type=time] {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 3px;
  margin-top: 3px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #223f80;
}

#home {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
#home #sideBar {
  padding-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 20px;
  width: 307px;
  height: 94%;
  background: rgba(34, 63, 128, 0.2);
  border-radius: 35px;
}
#home #sideBar #options {
  margin-top: 60px;
}
#home #sideBar #options .button {
  margin: 20px;
  width: 235px;
  height: 44px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border-radius: 12px;
  color: #223f80;
  display: flex;
  flex-direction: row;
  justify-content: flex-center;
  align-items: center;
}
#home #sideBar #options .button img {
  margin: 10px;
}
#home #sideBar #options .button p {
  margin-left: 55px;
}
#home #sideBar #tree {
  position: absolute;
  bottom: -3px;
}
#home #main {
  width: calc(100% - 310px);
}
#home #main #editMain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#home #main #editMain #topNav {
  margin-top: 150px;
  width: 70%;
  height: 55px;
  background: rgba(132, 132, 132, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#home #main #editMain #topNav button {
  width: 50%;
  height: 55px;
  border-radius: 8px;
  font-family: "Montserrat";
  color: #223f80;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
#home #main #editMain #assets {
  padding: 10px 35px;
  margin-top: 60px;
  width: 70%;
  max-height: calc(100% - 300px);
  background: rgba(34, 63, 128, 0.1);
  border-radius: 34px;
}
#home #main #editMain #assets #top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#home #main #editMain #assets #top button {
  padding: 10px;
  width: 33.333%;
  border-bottom: 5px solid #8492b3;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #223f80;
}
#home #main #editMain #assets #top button:focus {
  border-bottom: 5px solid #223f80;
}
#home #main #editMain #assets #editMainSection {
  height: 70%;
  padding: 30px 20px;
  overflow-y: scroll;
}
#home #main #editMain #assets #editMainSection div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#home #main #editMain #assets #editMainSection div p {
  margin: 8px 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #626262;
}
#home #main #editMain #assets #editMainSection div input {
  border: none;
  background: transparent;
  margin: 8px 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #223F80;
}
#home #main #editMain #assets #editMainSection div input:focus {
  outline: inset;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}
#home #main #editMain #news {
  padding: 10px 35px;
  margin-top: 60px;
  max-width: 1500px;
  height: 100%;
  overflow-y: scroll;
}
#home #main #editMain #news .newsComp {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(34, 63, 128, 0.1);
  border-radius: 34px;
}
#home #main #editMain #news .newsComp input[type=file] {
  width: 110%;
  position: relative;
  top: -110%;
  /* display: inline-block; */
  height: 110%;
  opacity: 0;
  z-index: 1;
}
#home #main #editMain #news .newsComp input[type=text] {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 3px;
  margin-top: 3px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #223f80;
  width: 50px;
}
#home #main #editMain #news .newsComp #first {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #main #editMain #news .newsComp #first p {
  margin: 3px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #3f3f3f;
}
#home #main #editMain #news .newsComp #first #year {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #454545;
}
#home #main #editMain #news .newsComp #first div {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#home #main #editMain #news .newsComp #first div p {
  margin-left: 3px;
  margin-top: 3px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #223f80;
}
#home #main #editMain #news .newsComp .newsUpdate {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #main #editMain #news .newsComp .newsUpdate p {
  margin: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #3f3f3f;
}
#home #main #editMain #news .newsComp .newsUpdate div {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#home #main #editMain #news .newsComp .newsUpdate div p {
  margin-left: 3px;
  margin-top: 3px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #223f80;
}
#home #main #editMain #news .newsComp .newsUpdate button {
  width: 110px;
  height: 40px;
  background: #223f80;
  border-radius: 7px;
}
#home #main #editMain #news .newsComp .newsUpdate button div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#home #main #editMain #news .newsComp .newsUpdate button div p {
  margin-left: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
}
#home #main #sessionMain {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#home #main #sessionMain #sessionsViewer {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 100%;
}
#home #main #sessionMain #sessionsViewer #deletePrompt {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.242);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
}
#home #main #sessionMain #sessionsViewer #deletePrompt #deleteBox {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 456px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #main #sessionMain #sessionsViewer #deletePrompt #deleteBox #first {
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
  width: calc(100% - 20px);
  background-color: #395695;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#home #main #sessionMain #sessionsViewer #deletePrompt #deleteBox #first p {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin: 0px;
  margin-left: 18px;
}
#home #main #sessionMain #sessionsViewer #deletePrompt #deleteBox #first #closeButton {
  margin: 0px;
  width: -moz-fit-content;
  width: fit-content;
}
#home #main #sessionMain #sessionsViewer #deletePrompt #deleteBox #first #closeButton img {
  height: 25px;
  transition: all 0.2s ease-in;
}
#home #main #sessionMain #sessionsViewer #deletePrompt #deleteBox #first #closeButton:hover img {
  transform: scale(0.8);
}
#home #main #sessionMain #sessionsViewer #deletePrompt #deleteBox hr {
  margin: 0px;
  width: calc(100% - 2px);
}
#home #main #sessionMain #sessionsViewer #deletePrompt #deleteBox #second {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #main #sessionMain #sessionsViewer #deletePrompt #deleteBox #second #deleteIcon {
  height: 40px;
}
#home #main #sessionMain #sessionsViewer #deletePrompt #deleteBox #second p {
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  color: #395695;
  margin: 10px;
}
#home #main #sessionMain #sessionsViewer #deletePrompt #deleteBox #third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
#home #main #sessionMain #sessionsViewer #deletePrompt #deleteBox #third p {
  margin: 5px 0px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  color: #395695;
}
#home #main #sessionMain #sessionsViewer #deletePrompt #deleteBox #third input {
  padding-left: 20px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid rgba(57, 86, 149, 0.6117647059);
  width: 80%;
  height: 30px;
}
#home #main #sessionMain #sessionsViewer #deletePrompt #deleteBox #third input:focus {
  outline: none;
}
#home #main #sessionMain #sessionsViewer #deletePrompt #deleteBox #third #deleteButton {
  width: 85%;
  margin: 5px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  background-color: rgb(197, 31, 31);
  border: 1px solid #223f80;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
#home #main #sessionMain #sessionsViewer #deletePrompt #deleteBox #third #deleteButton p {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin: 0px;
  margin-left: 20px;
}
#home #main #sessionMain #sessionsViewer #deletePrompt #deleteBox #third #deleteButton:hover p {
  color: rgb(197, 31, 31);
}
#home #main #sessionMain #sessionsViewer #deletePrompt #deleteBox #third #deleteButton:hover {
  background-color: white;
}
#home #main #sessionMain #sessionsViewer #sessionList {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #main #sessionMain #sessionsViewer button {
  margin-top: 15px;
  width: 80%;
  max-width: 1500px;
}
#home #main #sessionMain #sessionsViewer #emptySessions {
  font-family: "Montserrat";
  font-size: 20px;
}
#home #main #sessionMain #sessionsViewer .sessionCards {
  transition: transform 0.3s ease-out;
  padding: 25px;
  padding-right: 10px;
  height: 84px;
  background: #ffffff;
  border: 2px solid #d4d4d4;
  border-radius: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 68%;
}
#home #main #sessionMain #sessionsViewer .sessionCards:hover {
  transform: scale(1.03);
}
#home #main #sessionMain #sessionsViewer .sessionCards #nameDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#home #main #sessionMain #sessionsViewer .sessionCards #nameDiv #name {
  margin: 10px 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #414141;
}
#home #main #sessionMain #sessionsViewer .sessionCards #infoDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
#home #main #sessionMain #sessionsViewer .sessionCards #infoDiv div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
#home #main #sessionMain #sessionsViewer .sessionCards #infoDiv div p {
  margin: 0px;
}
#home #main #sessionMain #sessionsViewer .sessionCards #infoDiv #excel, #home #main #sessionMain #sessionsViewer .sessionCards #infoDiv #trash {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #main #sessionMain #sessionsViewer .sessionCards #infoDiv #excel img, #home #main #sessionMain #sessionsViewer .sessionCards #infoDiv #trash img {
  height: 30px;
}
#home #main #sessionMain #sessionsViewer .sessionCards #infoDiv #trash img:hover {
  animation: shake 0.5s ease-in-out 2;
}
#home #main #sessionMain #sessionsViewer .sessionCards #infoDiv #groupLabel,
#home #main #sessionMain #sessionsViewer .sessionCards #infoDiv #playerLabel {
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #8a8a8a;
}
#home #main #sessionMain #sessionsViewer .sessionCards #infoDiv #groupInfo,
#home #main #sessionMain #sessionsViewer .sessionCards #infoDiv #playerInfo {
  margin-top: 7px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #414141;
}
#home #main #sessionMain #sessionsViewer #top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#home #main #sessionMain #sessionsViewer #top #searchDiv {
  width: 50%;
  border: 2.5px solid #acacac;
  border-radius: 8px;
  height: 44px;
  padding: 0px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#home #main #sessionMain #sessionsViewer #top #searchDiv input {
  border: none;
  width: 100%;
  margin-left: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
#home #main #sessionMain #sessionsViewer #top #searchDiv input:focus {
  border: none;
  outline: none;
}
#home #main #sessionMain #sessionsViewer #top #create {
  transition: transform 0.2s ease-out;
  margin-left: 20px;
  margin-top: 0px;
  width: 210px;
  height: 44px;
  background: #223f80;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#home #main #sessionMain #sessionsViewer #top #create:focus {
  transform: scale(0.95);
}
#home #main #sessionMain #sessionsViewer #top #create:hover div #add {
  animation: spin 0.5s ease-in-out 1;
}
#home #main #sessionMain #sessionsViewer #top #create div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#home #main #sessionMain #sessionsViewer #top #create div p {
  padding: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
#home #main #sessionMain #createSessionPage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #main #sessionMain #createSessionPage #createSessionMenu {
  position: relative;
  width: 410px;
  height: 250px;
}
#home #main #sessionMain #createSessionPage #createSessionMenu div {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#home #main #sessionMain #createSessionPage #createSessionMenu div #close {
  top: 0px;
  right: 0px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#home #main #sessionMain #createSessionPage #createSessionMenu div #close img {
  height: 30px;
}
#home #main #sessionMain #createSessionPage #createSessionMenu div #close:focus {
  background-color: rgba(34, 64, 128, 0.7647058824);
}
#home #main #sessionMain #createSessionPage #createSessionMenu input {
  width: 406px;
  height: 49px;
  background: rgba(21, 21, 21, 0.2705882353);
  border: 2px solid #8c8c8c;
  border-radius: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding-left: 14px;
  color: #8c8c8c;
}
#home #main #sessionMain #createSessionPage #createSessionMenu input:focus {
  outline: none;
}
#home #main #sessionMain #createSessionPage #createSessionMenu #save {
  position: absolute;
  width: 131px;
  height: 49px;
  bottom: 0px;
  left: 0px;
  background: #223f80;
  border-radius: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  transition: all 0.3s ease-out;
}
#home #main #sessionMain #createSessionPage #createSessionMenu #save:hover {
  transform: scale(0.9);
}
#home #main #sessionMain #createGroupPage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  z-index: 2;
  left: 0px;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #main #sessionMain #createGroupPage #createGroupMenu {
  position: relative;
  width: 427px;
  height: 371px;
}
#home #main #sessionMain #createGroupPage #createGroupMenu div {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#home #main #sessionMain #createGroupPage #createGroupMenu div #close {
  top: 0px;
  right: 0px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#home #main #sessionMain #createGroupPage #createGroupMenu div #close img {
  height: 30px;
}
#home #main #sessionMain #createGroupPage #createGroupMenu div #close:focus {
  background-color: rgba(34, 64, 128, 0.7647058824);
}
#home #main #sessionMain #createGroupPage #createGroupMenu input {
  margin-top: 30px;
  width: 406px;
  height: 49px;
  background: rgba(21, 21, 21, 0.337254902);
  border: 2px solid #8c8c8c;
  border-radius: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding-left: 14px;
  color: #8c8c8c;
}
#home #main #sessionMain #createGroupPage #createGroupMenu input:focus {
  outline: none;
}
#home #main #sessionMain #createGroupPage #createGroupMenu #groupLimit {
  margin-top: 30px;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#home #main #sessionMain #createGroupPage #createGroupMenu #groupLimit p {
  margin: 10px 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #8c8c8c;
}
#home #main #sessionMain #createGroupPage #createGroupMenu #groupLimit select {
  width: 92px;
  height: 49px;
  background: rgba(21, 21, 21, 0.337254902);
  border: 2px solid #8c8c8c;
  border-radius: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding-left: 14px;
  color: #8c8c8c;
}
#home #main #sessionMain #createGroupPage #createGroupMenu #groupLimit select:focus {
  outline: none;
}
#home #main #sessionMain #createGroupPage #createGroupMenu #save {
  position: absolute;
  width: 131px;
  height: 49px;
  bottom: 0px;
  left: 0px;
  background: #223f80;
  border-radius: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
#home #main #sessionMain #playersPage {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  width: calc(100% - 400px);
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  background-color: white;
  overflow: hidden scroll;
}
#home #main #sessionMain #playersPage #topBar {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #main #sessionMain #playersPage #topBar #top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#home #main #sessionMain #playersPage #topBar #top #back {
  margin-right: 10px;
}
#home #main #sessionMain #playersPage #topBar #top #topLabel {
  width: 100%;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#home #main #sessionMain #playersPage #topBar #top #topLabel div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#home #main #sessionMain #playersPage #topBar #top #topLabel div #trash {
  margin-right: 60px;
}
#home #main #sessionMain #playersPage #topBar #top #topLabel div #groupNameInput {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: left;
  color: #223f80;
  border: none;
}
#home #main #sessionMain #playersPage #topBar #top #topLabel div #players {
  margin-left: 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: rgba(34, 63, 128, 0.4);
}
#home #main #sessionMain #playersPage #topBar #top #topLabel div #players #playerCount {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #3f3f3f;
}
#home #main #sessionMain #playersPage #topBar hr {
  width: calc(100% - 62px);
  margin: 0px;
  margin-left: 54px;
  border: 2px solid rgba(34, 63, 128, 0.4);
}
#home #main #sessionMain #playersPage #playersList {
  margin-top: 30px;
  width: 75%;
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #main #sessionMain #playersPage #playersList #deletePrompt {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.242);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
}
#home #main #sessionMain #playersPage #playersList #deletePrompt #deleteBox {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 456px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #main #sessionMain #playersPage #playersList #deletePrompt #deleteBox #first {
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
  width: calc(100% - 20px);
  background-color: #395695;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#home #main #sessionMain #playersPage #playersList #deletePrompt #deleteBox #first p {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin: 0px;
  margin-left: 18px;
}
#home #main #sessionMain #playersPage #playersList #deletePrompt #deleteBox #first #closeButton {
  margin: 0px;
  width: -moz-fit-content;
  width: fit-content;
}
#home #main #sessionMain #playersPage #playersList #deletePrompt #deleteBox #first #closeButton img {
  height: 25px;
  transition: all 0.2s ease-in;
}
#home #main #sessionMain #playersPage #playersList #deletePrompt #deleteBox #first #closeButton:hover img {
  transform: scale(0.8);
}
#home #main #sessionMain #playersPage #playersList #deletePrompt #deleteBox hr {
  margin: 0px;
  width: calc(100% - 2px);
}
#home #main #sessionMain #playersPage #playersList #deletePrompt #deleteBox #second {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #main #sessionMain #playersPage #playersList #deletePrompt #deleteBox #second #deleteIcon {
  height: 40px;
}
#home #main #sessionMain #playersPage #playersList #deletePrompt #deleteBox #second p {
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  color: #395695;
  margin: 10px;
}
#home #main #sessionMain #playersPage #playersList #deletePrompt #deleteBox #third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
#home #main #sessionMain #playersPage #playersList #deletePrompt #deleteBox #third p {
  margin: 5px 0px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  color: #395695;
}
#home #main #sessionMain #playersPage #playersList #deletePrompt #deleteBox #third input {
  padding-left: 20px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid rgba(57, 86, 149, 0.6117647059);
  width: 80%;
  height: 30px;
}
#home #main #sessionMain #playersPage #playersList #deletePrompt #deleteBox #third input:focus {
  outline: none;
}
#home #main #sessionMain #playersPage #playersList #deletePrompt #deleteBox #third #deleteButton {
  width: 85%;
  margin: 5px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  background-color: rgb(197, 31, 31);
  border: none;
  margin-bottom: 20px;
  transition: all 0.2s ease;
}
#home #main #sessionMain #playersPage #playersList #deletePrompt #deleteBox #third #deleteButton p {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin: 0px;
  margin-left: 20px;
}
#home #main #sessionMain #playersPage #playersList #deletePrompt #deleteBox #third #deleteButton:hover p {
  color: rgb(197, 31, 31);
}
#home #main #sessionMain #playersPage #playersList #deletePrompt #deleteBox #third #deleteButton:hover {
  border: 1px solid #223f80;
  background-color: white;
}
#home #main #sessionMain #playersPage #playersList .row {
  margin-top: 20px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#home #main #sessionMain #playersPage #playersList .row #remove {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #a43936;
}
#home #main #sessionMain #playersPage #playersList .row button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #main #sessionMain #playersPage #playersList .row button .checkbox-round {
  position: absolute;
  top: 3px;
  left: 7px;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  vertical-align: middle;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
#home #main #sessionMain #playersPage #playersList .row button .checkbox-round:checked {
  background: linear-gradient(39.67deg, #d9d9d9 -3.78%, #223f80 -3.77%, #444584 46.57%, #a43936 101.3%);
}
#home #main #sessionMain #playersPage #playersList .row p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #3f3f3f;
}
#home #main #sessionMain #playersPage #playersList .row select {
  width: 208px;
  height: 35px;
  left: 892px;
  top: 240px;
  border: 1.5px solid #b0b0b0;
  border-radius: 7px;
  padding: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #b0b0b0;
}
#home #main #sessionMain #playersPage #playersList .row select option:checked {
  color: #223f80;
}
#home #main #sessionMain #playersPage #playersList .row select:focus {
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #223f80;
}
#home #main #sessionMain #groupPage {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 322px);
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  background-color: white;
  overflow: hidden scroll;
}
#home #main #sessionMain #groupPage #topBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home #main #sessionMain #groupPage #topBar #top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
#home #main #sessionMain #groupPage #topBar #top #back {
  margin-right: 10px;
}
#home #main #sessionMain #groupPage #topBar #top #searchDiv {
  width: 70%;
  border: 2.5px solid #acacac;
  border-radius: 8px;
  height: 30px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#home #main #sessionMain #groupPage #topBar #top #searchDiv input {
  border: none;
  width: 100%;
  margin-left: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
#home #main #sessionMain #groupPage #topBar #top #searchDiv input:focus {
  border: none;
  outline: none;
}
#home #main #sessionMain #groupPage #topBar #top #create {
  margin-left: 20px;
  margin-top: 0px;
  height: 44px;
  background: #223f80;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#home #main #sessionMain #groupPage #topBar #top #create div {
  height: 100%;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#home #main #sessionMain #groupPage #topBar #top #create div p {
  margin: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
}
#home #main #sessionMain #groupPage #topBar #second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 30px;
}
#home #main #sessionMain #groupPage #topBar #second #navBar {
  width: 66%;
  margin-left: 55px;
  background: #434343;
  border-radius: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  padding: 5px;
  color: #aaaaaa;
}
#home #main #sessionMain #groupPage #topBar #second #navBar #portion1 {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#home #main #sessionMain #groupPage #topBar #second #navBar #portion1 .navComp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#home #main #sessionMain #groupPage #topBar #second #navBar #portion1 .navComp img {
  margin: 5px;
}
#home #main #sessionMain #groupPage #topBar #second #navBar #portion1 .navComp input {
  border: none;
  background: transparent;
  color: inherit;
  font-size: inherit;
  width: 75px;
}
#home #main #sessionMain #groupPage #topBar #second #navBar #navigate button {
  margin: 10px;
}
#home #main #sessionMain #groupPage #topBar #second #gameStatus {
  margin-left: 25px;
  height: 44px;
  border: 2px solid #223f80;
  border-radius: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #223f80;
}
#home #main #sessionMain #groupPage #topBar #second #gameStatus:hover {
  color: white;
  background: #223f80;
}
#home #main #sessionMain #groupPage #groupsList {
  overflow-y: scroll;
  padding: 50px;
  margin-top: 30px;
  padding-top: 0px;
  min-width: 70%;
}
#home #main #sessionMain #groupPage #groupsList .card {
  transition: all 0.3s ease-in-out;
  width: 200px;
  height: 100px;
  padding: 15px;
  background: white;
  box-shadow: 2px 5px 10px 4px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  position: relative;
}
#home #main #sessionMain #groupPage #groupsList .card:hover {
  transform: scale(1.1);
}
#home #main #sessionMain #groupPage #groupsList .card #groupBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#home #main #sessionMain #groupPage #groupsList .card #groupBox #groupInfo {
  margin: 0px;
  margin-left: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  color: #3f3f3f;
}
#home #main #sessionMain #groupPage #groupsList .card #playerBox {
  position: absolute;
  bottom: 0;
  left: 10;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 1390px) {
  #groupsList {
    display: grid;
    grid-template-columns: auto auto;
  }
  .card {
    margin: 15px 40px;
  }
  #playerBox {
    margin-top: 30px;
  }
  #gameStatus {
    width: 150px;
  }
  #create {
    width: 130px;
  }
  #create div {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #create div #add {
    height: 20px;
  }
  #create div p {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1390px) {
  #gameStatus {
    width: 202px;
  }
  #create {
    width: 210px;
  }
  #create div {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #create div #add {
    height: 36px;
  }
  #create div p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1390px) and (max-width: 1790px) {
  #groupsList {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .card {
    margin: 15px 50px;
  }
  #playerBox {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 1790px) {
  #excel, #trash {
    margin-left: 30px;
  }
  #groupsList {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .card {
    margin: 15px 40px;
  }
  #playerBox {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 1620px) {
  #groupsList {
    height: calc(100% - 350px);
  }
  #navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #portion1 {
    width: 100%;
  }
}
@media only screen and (min-width: 1620px) {
  #groupsList {
    height: calc(100% - 300px);
  }
  #navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 44px;
  }
  #portion1 {
    width: 70%;
  }
}
@keyframes shake {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-5deg);
  }
  50% {
    transform: rotateZ(5deg);
  }
  75% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(180deg);
  }
}/*# sourceMappingURL=home.css.map */